/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
    --color-primero-rgb: 95, 0, 185;
    --color-segundo-rgb: 117, 255, 186;
    --color-primero: rgb(95, 0, 185);
    --color-segundo: rgb(117, 255, 186);
    --color-tercero: rgb(255, 140, 0);
    --color-cero: rgb(255, 255, 255);
}

html{
    font-size: 100%;
    scroll-padding-top: 60px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

ul, ol, li, a, h1, h2, h3, p, body, header, section, footer, .container, .container-fluid, .row, .col{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height:100%;
    overflow-x: hidden; 
    line-height: 1.5;  
    font-family: $font-primera;
    font-weight: 200;
    background: $color-fondo;
    color: var(--color-cero);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a{
    text-decoration: none;
    color: var(--color-cero);
    outline: none;
}

ul{
    list-style: none;
}

button{
   cursor: pointer;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.container-fluid{
    width: 100%;
}


/* general */

::selection{
    color: rgba(var(--color-primero-rgb), .8);
    background: rgba(var(--color-segundo-rgb), .8);
}

h1{
    font-size: calc(1.6rem + 1.5vw + 1.5vh);
    font-weight: 500;
}

h2{
    font-size: calc(1.4rem + .8vw + .8vh);
    font-weight: 500;
    text-shadow: .4px .4px 0 var(--color-primero), .8px .8px 0 var(--color-primero), 1.2px 1.2px 0 var(--color-primero), 1.6px 1.6px 0 var(--color-primero);
    filter: drop-shadow(1px 1px 0 var(--color-primero));
}

h3{
    font-size: calc(1.2rem + .4vw + .4vh);
    font-weight: 300;
    margin-bottom: 1.4rem;
}

p{
    font-size: calc(1rem + .2vw + .2vh);
    font-weight: 200;
}

/* fin general */

/* loader */
.loaderWrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $color-fondo;
    z-index: 4;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.loader{
    aspect-ratio: 1;
    width: 25%;
    min-width: 300px;
    max-width: 800px;
    height: auto;
    transition: transform 0.8s;
    transform-style: preserve-3d;  
    border-radius: 50%;
    /* box-shadow: 0 0 0 3px var(--color-primero), 0 0 0 6px var(--color-segundo); "alt border"*/   
    position: relative;   

    
    &::after{
        content: '';
        position: absolute;
        inset: -4px;
        background: linear-gradient(var(--color-primero) 50%, var(--color-segundo) 50%);
        z-index: -1;
        border-radius: 50%;
        animation: rotate 4000ms linear infinite;
    }

    &::before{
        content: '';
        position: absolute;
        inset: -4px;
        background: linear-gradient(var(--color-primero) 50%, var(--color-segundo) 50%);
        z-index: -1;
        border-radius: 50%;
        animation: rotate 4000ms linear infinite;
        filter: blur(4px);
    }

    &__inner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: $color-fondo;
    }
}
/* fin loader */

/* header */

.header{
    display: flex; 
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    padding-left: $padding-general;
    padding-right: $padding-general;
    background: $color-fondo;
    box-shadow: 0 .1rem 0rem 0 var(--color-primero);
    z-index: 3;
    transition: 200ms;

    &__skip{
        position: absolute;
        top: 110%;
        left: -4%;
        transform: translateX(-104%);
        color: $color-fondo;
        font-weight: 400;
        background: var(--color-segundo);
        margin-left: 4%;
        padding: .4em;
        transition: transform 200ms ease-out;

        &:focus, &:hover{
           outline: 2px solid var(--color-cero) ;
           outline-style: dashed;
           transform: translateX(0);
           color: $color-fondo;
        }
    }
    
    &__logo{
        text-shadow: 0 0 .4rem var(--color-primero);
        transition: 200ms;
        font-weight: 900;
        outline: none;
        font-style: italic;
        font-size: 2.8rem;
        user-select: none;
        line-height: 1;
        
        &:hover, &:focus{
            color: var(--color-tercero);
            text-shadow: 0 0 .4rem var(--color-tercero);
            transition: 200ms;
        }
    }

    &__burgerButton{
        margin-left: auto;
        background: none;
        outline: none;
        border: none;
        color: var(--color-primero);
        transition: transform 200ms linear;
        transform-style: preserve-3d;  
        perspective: 1000px;

        &__icon{
            font-size: 2.4rem;
            margin: auto;
            text-shadow: .4px .4px 0 var(--color-segundo), .8px .8px 0 var(--color-segundo), 1.2px 1.2px 0 var(--color-segundo), 1.6px 1.6px 0 var(--color-segundo);
        }
        
        &:focus-visible{
            outline: 2px dashed var(--color-tercero);
        }
    }
}

.nav{
    position: absolute;
    right: 0;
    top: 100%; 
    width: 100%;
    font-size: 1.5rem;
    font-weight: 200;
    align-self: end;
    display: flex;
    justify-content: center;
    background: $color-fondo;
    box-shadow: 0 .1rem 0rem 0 var(--color-segundo), -.1rem 0 0rem 0 var(--color-segundo), 0 -.1rem 0rem 0 var(--color-segundo);
    text-shadow: 0 0 .2rem var(--color-segundo);
    border-radius: .25em 0 0 1em;
    overflow: hidden;
    width: 175px;
    transform: translateX(calc(104% + .1rem));
    transition: transform 200ms linear;

    &__ul{
        display: flex;
        flex-flow: column nowrap;      
        
        &__li{
            :hover, :focus{
                outline: none;
                color: var(--color-segundo);               
            }
        }
    }

    &__anchor{
        background: linear-gradient(270deg, var(--color-primero), var(--color-segundo));
        background-size: 0% 2px;
        background-repeat: no-repeat;
        background-position: left bottom;
        transition: background-size 300ms;

        &:hover, &:focus{
            outline: none;
            color: var(--color-segundo);  
            background-size: 100% 2px;
            transition: background-size 300ms;
        }
    }

    &--open{
        transform: translateX(0);
        visibility: visible;
    }
}


/* main */

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}


/* hero page */

.landingImgA{
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-fondo;
    background-image: url(/media/backgroundA.svg);
    background-size: 1920px;
    background-position-x: 50%;
    background-position-y: 90.8%;
    filter: brightness(1.1) contrast(1.1) saturate(1.2);
}

.landingImgB{
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-fondo;
    background-image: url(/media/backgroundB.svg);
    background-size: 1920px;
    background-position-x: 50%;
    background-position-y: 90.8%;
    filter: brightness(1.1) contrast(1.1) saturate(1.2);
    opacity: 0;
}

.landingImgC{
    position: fixed;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-fondo;
    background-image: url(/media/backgroundC.svg);
    background-size: 1920px;
    background-position-x: 50%;
    background-position-y: 90.8%;
    filter: brightness(1.1) contrast(1.1) saturate(1.2);
    opacity: 0;
}

.heroPage{
    padding: $padding-general;
    color: var(--color-cero);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: start;
    position: relative;

    &__title{
        z-index: 2;
        margin-top: calc(60px + 4% + .5vw + .5vh);
        background: transparent;
        line-height: 1.2;
    }

    &__span{
        color: var(--color-segundo);
        text-shadow: 0 0 .2rem var(--color-segundo);
        transition: 100ms;
        display: inline-block;

        &:hover{
            color: var(--color-tercero);
            text-shadow: 0 0 .2rem var(--color-tercero);
            transition: 100ms;
            animation: textWobble 300ms;
        }

        &__lineBreak{
            display: inline-block;
        }
    }
    
    &__profilePicWrapper{
        position: absolute;
        bottom: calc(#{$padding-general} + 8px);
        right: calc(#{$padding-general} + 8px);
        border-radius: 50%;
        aspect-ratio: 1;
        width: 10%;
        max-width: 200px;
        min-width: 100px;
        height: auto;
        background: transparent;
        cursor: pointer;
        perspective: 1000px;
        transition: 200ms !important; /*overrides aos transition*/
        z-index: 2;

        &--inner{
            width: 100%;
            height: 100%;
            transition: transform 0.8s;
            transform-style: preserve-3d;  
            border-radius: 50%;
            /* box-shadow: 0 0 0 3px var(--color-primero), 0 0 0 6px var(--color-segundo); "alt border"*/   
            position: relative;   
            
            &::after{
                content: '';
                position: absolute;
                inset: -4px;
                background: linear-gradient(var(--color-primero) 50%, var(--color-segundo) 50%);
                z-index: -1;
                border-radius: 50%;
                animation: rotate 8000ms linear infinite;
            }

            &::before{
                content: '';
                position: absolute;
                inset: -4px;
                background: linear-gradient(var(--color-primero) 50%, var(--color-segundo) 50%);
                z-index: -1;
                border-radius: 50%;
                animation: rotate 8000ms linear infinite;
                filter: blur(4px);
            }
        }

        &:hover &--inner, &:focus &--inner{
            transform: rotateY(180deg);
        }

        &:focus-visible{
            outline: none;
        }
    }
    
    &__profilePic{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -webkit-backface-visibility: hidden; 
        backface-visibility: hidden;
        position: absolute;

        &__front{            
            background-image: url('../media/thecoon.jpg');
            background-size: 140%;
        }

        &__back{
            background-image: url('../media/earth.jpg');
            background-size: 140%;
            transform: rotateY(180deg);
        }
    }
}

.arrowBounce
{
    display: inline-block;
    position: absolute;
    bottom: $padding-general;
    left: $padding-general;
    font-size: 2.8rem;
    animation: bounce 2s infinite;
    color: var(--color-segundo);
    opacity: 80%;
    transition: inset 200ms;
    z-index: 2;
    
    &:focus, &:hover{
        color: var(--color-tercero);   
    }
    
    &:focus{
        outline: 2px solid var(--color-primero);
        box-shadow: 0 0 0 4px var(--color-segundo);
    }
}


/* sections */

section{
    width: 100%;
    padding: $padding-general;
    padding-bottom: calc(2rem + .2vw + .2vh);
    
    &:hover .hr__inside, &:focus-within .hr__inside{
        width: calc(100% + 1px);
        transition: width 2000ms;
    }
}

.section__container{
    margin: 0 auto;
    max-width: 1800px;
}

.sectionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    .hr{
        background: var(--color-primero);
        width: 100%;
        height: 2px;
        border-radius: calc(1vw + 1vh);            
        opacity: .8;
        position: relative;

        &__inside{
            position: absolute;
            inset: 0;
            background: var(--color-segundo);
            width: 0%;
            border-radius: calc(1vw + 1vh);  
            box-shadow: 0 0 .2rem 0 var(--color-segundo);
            transition: width 2000ms;
        }
        &--backwards{
            transform: rotate(180deg);
        }
    }
}

.pointer{
    color: var(--color-segundo);
}

/* section about */

.about{
 /* background-color: $color-fondo;
    background-image: var(--background);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 90%; */
    background: transparent;

    &__info{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: start;
        
        &__details{
            margin: auto;
            max-width: 100ch;
            background: rgba(0, 0, 0, .25);
            border-radius: .2em;
            padding: 1em;
            line-height: 1.8; 
        }
    }
}

/* section skills */

.skills{
    background: $color-fondo;
    
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: calc(.8rem + .2vw + .2vh);
    }

    &__wrapper{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(MIN(150px, 45%), 1fr));
        gap: calc(.2rem + 1vw + 1vh);

        &__skill{
            text-align: center;
            transition: 200ms;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            max-width: 320px;
            margin: auto;
            width: 110%;
            height: auto;
            transform:scale(90%); 
            
            img{
                width: 100%;
                transition: 100ms;
                filter: drop-shadow(2px 2px 0 var(--color-cero)) drop-shadow(2px 2px 0 var(--color-segundo)) grayscale(20%);
                
                
                &:hover, &:focus{
                    filter: drop-shadow(2px 2px 0 var(--color-cero)) drop-shadow(2px 2px 0 var(--color-segundo)) grayscale(0%);               
                }
            }
            
        }
    }
}

/* section works */

.works{
    background:transparent;

    &__wrapper{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        

        &__work{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-items: center;
            gap: calc(4rem + .4vw + .4vh);
            width: 100%;
            margin-top: 2rem;

            &__container{
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: start;
                gap: calc(2rem + .2vw + .2vh);

                &__p{  
                    a{
                        outline: 1px solid var(--color-segundo);
                        background: rgba(0, 0, 0, .25);
                        border-radius: .2em;
                        padding: .2em;
                        color: var(--color-cero);

                        &:hover, &:focus{
                            background: rgba(0, 0, 0, .3);
                            color: var(--color-segundo);
                            outline: 2px solid var(--color-segundo);
                        }
                    }
                }
            }
            
            &__page{
                position: relative;
                background: $color-fondo;
                margin-bottom: 2rem;
                width: 300px;
                height: 450px; 

                &::after{
                    content: "";
                    position: absolute;                   
                    inset: -24px;
                    background: url(../media/mobileFrame.png);
                    background-size: 94% 99.8%;
                    background-position: 60% 100%;
                    background-repeat: no-repeat;
                    pointer-events: none;
                }
                
                &::before{
                    content: "";
                    position: absolute;                   
                    inset: -24px;
                    background: url(../media/mobileFrame.png);
                    background-size: 94% 99.8%;
                    background-position: 60% 100%;
                    background-repeat: no-repeat;
                    pointer-events: none;
                    filter: drop-shadow(2px 2px 0 black) drop-shadow(2px 2px 0 var(--color-segundo)); 
                    z-index: -1;
                }
            }

            iframe{
                  width: 100%;
                  height: 100%;
            }
            
            img{
                display: inline-block;
                width: 300px;
                height: 450px; 
                object-fit: contain;
                background: $color-fondo;
                margin-top: calc(.4rem + .1vw + .1vh);
                /* border-radius: .4rem; */
                /* box-shadow: 0 0 0 2px var(--color-segundo); old border*/
            }
        }
    }
}

/* section contact */

.contact{
    background: $color-fondo;
    
    &__wrapper{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: calc(4rem + .4vw + .4vh);
    }

    &__form{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: stretch;
        width: 90%;
        min-width: 200px;
        font-family: $font-primera;
        font-size: calc(1rem + .2vw + .2vh);
        font-weight: 200;
        gap: calc(.4rem + .4vw + .4vh);
        text-align: right;
        position: relative;
        
        &__fields{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: stretch;
            gap: calc(.2rem + .2vw + .2vh);
        }
        
        &__title{
            text-align: center;
        }

        &__bot{
            position: absolute;
            top:0;
            left: 0;
            width: 0;
            height: 0;
            opacity: 0;
        }

        &__name, &__email{
            width: 100%;
            border: none;
            background: linear-gradient(270deg, var(--color-primero), var(--color-segundo));
            background-size: 0% 2px;
            background-repeat: no-repeat;
            background-position: left bottom;
            padding: calc(.8rem + .2vw + .2vh);
            color: var(--color-cero);   
            outline: none;
            border-bottom: 1px solid var(--color-primero);
            font-family: inherit;
            font-weight: 300;
            font-size: 1em;
            transition: background-size 400ms;  

            &:active, &:focus, &:valid{
                background-size: 100% 2px; 
            }

            &::placeholder{
                font-style: italic;
            }
        }
     
        &__message{
            width: 100%;
            min-height: 14ch;
            background: linear-gradient(270deg, var(--color-primero), var(--color-segundo));
            background-size: 0% 2px;
            background-repeat: no-repeat;
            background-position: left bottom;
            resize: none;
            padding: calc(.8rem + .2vw + .2vh);
            color: var(--color-cero);
            outline: none;
            border: none;
            border-bottom: 1px solid var(--color-primero);
            font-family: inherit;
            font-weight: 300;
            font-size: .9em;
            transition: background-size 400ms;   

            &:active, &:focus, &:valid{
                background-size: 100% 2px;            
            }

            &::placeholder{
                font-style: italic;
            }
        }

        &__send{
            display: flex;
            flex-flow: row wrap;
            justify-content: end;
            align-items: center;
            gap: .4em;
        }

        &__submitInput{
            width: 0;
            height: 0;
            opacity: 0;

            &:focus + .contact__form__submit{
                text-shadow: 0 0 .2rem var(--color-segundo);
            }

            &:focus + .contact__form__submit::before{
                transform: scaleY(0);
            }

            &:focus + .contact__form__submit::after{
                transform: scaleX(0);
            }
        }

        &__resetInput{
            width: 0;
            height: 0;
            opacity: 0;

            &:focus + .contact__form__reset{
                text-shadow: 0 0 .2rem var(--color-cero);
            }

            &:focus + .contact__form__reset::before{
                transform: scaleY(0);              
            }

            &:focus + .contact__form__reset::after{
                transform: scaleX(0);              
            }
        }

        &__submit{
            width: 25%;
            min-width: 90px;
            cursor: pointer;
            font-size: 1.1em;
            color: var(--color-segundo);
            text-align: center;
            position: relative;
            padding: .04em;
            border: 2px solid var(--color-segundo); 
            border-style: dashed;

            span{
                position: relative;
                z-index: 1;
            }
            
            &::before{
                content: '';
                position: absolute;
                top: 6px;
                left: -10px;
                width: calc(100% + 20px);
                height: calc(100% - 12px);
                background: $color-fondo;
                transition: 200ms;
                transform: scaleY(1);
            }

            &::after{
                content: '';
                position: absolute;
                top: -10px;
                left: 6px;
                width: calc(100% - 12px);
                height: calc(100% + 20px);
                background: $color-fondo;
                transition: 200ms;
                transform: scaleX(1);
            }

            &:hover::after{
                transform: scaleX(0);  
            }

            &:hover::before{
                transform: scaleY(0);        
            }  
            
            &:hover{
                text-shadow: 0 0 .2rem var(--color-segundo);  
            }

            &:active{
                box-shadow: 0 0 .4rem 0 var(--color-segundo);
            }  
        }

        &__reset{
            width: 25%;
            min-width: 90px;
            cursor: pointer;
            font-size: 1.1em;
            color: rgb(180, 180, 180);
            text-align: center;
            position: relative;
            padding: .04em;
            border: 2px solid rgb(180, 180, 180);
            border-style: dashed;

            span{
                position: relative;
                z-index: 1;
            }
            
            &::before{
                content: '';
                position: absolute;
                top: 6px;
                left: -10px;
                width: calc(100% + 20px);
                height: calc(100% - 12px);
                background: $color-fondo;
                transition: 200ms;
                transform: scaleY(1);
            }

            &::after{
                content: '';
                position: absolute;
                top: -10px;
                left: 6px;
                width: calc(100% - 12px);
                height: calc(100% + 20px);
                background: $color-fondo;
                transition: 200ms;
                transform: scaleX(1);
            }

            &:hover::after{
                transform: scaleX(0);  
            }

            &:hover::before{
                transform: scaleY(0);       
            }  
            
            &:hover{
                text-shadow: 0 0 .2rem var(--color-cero);  
            }

            &:active{
                box-shadow: 0 0 .4rem 0 var(--color-cero);
            }  
        }
    }

    &__info{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 90%;
        min-width: 200px;
        gap: calc(.4rem + .4vw + .4vh);
        
        &__details{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: stretch;
            gap: calc(.2rem + .2vw + .2vh);
            
            p{
                font-weight: 200;               
                font-size: calc(1rem + .2vw + .2vh);
                padding: calc(.4rem + .1vw + .1vh);

                span{
                    display: inline-block;
                }

                a{
                    &:hover, &:focus{
                        color: var(--color-segundo);                       
                    }
                }
            }
        }
    }
}

/* footer */

.footer{
    padding: $padding-general;
    padding-bottom: 0;
    background: linear-gradient(45deg, darken($color-primero, 20%), darken($color-segundo, 20%));
    background-size: 2000%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
    animation: gradiente__fondo 20s infinite linear alternate;
    position: relative;

    &__nav{
        font-size: calc(1.2rem + .5vw + .5vh);
        font-weight: 200;
        display: flex;
        flex-flow: row wrap;
        &__ul{
            display: flex;
            flex-flow: column wrap;
            &__li{
                &__a{
                    background: linear-gradient(270deg, var(--color-primero), var(--color-segundo));
                    background-size: 0% 3px;
                    background-repeat: no-repeat;
                    background-position: left bottom;
                    transition: background-size 300ms;

                    &:hover, &:focus{
                        outline: none;
                        color: var(--color-segundo);  
                        background-size: 100% 3px;
                        transition: background-size 300ms;
                    }
                }
            }
        }
    }
   
    &__santi{
        font-weight: 200;
        font-size: calc(.8rem + .3vw + .3vh);
        text-shadow: 0 0 .4rem var(--color-segundo);
        outline: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: end;
        gap: .5em;
        align-items: center;

        :hover, :focus{
            color: var(--color-tercero);
            text-shadow: 0 0 .4rem var(--color-tercero);         
        }
    }

    &__hr{
            background: linear-gradient(270deg, darken($color-primero, 20%) , darken($color-segundo, 20%));
            width: 100%;
            height: 2px;
            border-radius: calc(1vw + 1vh);            
            opacity: .8;
        }

    .sectionTitle{
        margin-bottom: 0;
    }
}



/* INICIO SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: lighten($color-fondo,4%);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(var(--color-primero-rgb), .8), rgba(var(--color-segundo-rgb), .8));
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, rgba(var(--color-primero-rgb), 1), rgba(var(--color-segundo-rgb), 1));
  }

  /* FIN SCROLLBAR */

  /* particles js */
  #particles-js{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    /* background: linear-gradient(135deg,darken(rgba(95, 0, 185, .8), 20%), darken(rgba(117, 255, 186, .8), 20%));
    background-size: 400%; */
    background: $color-fondo;
  }
/* fin particles js */

.colorPicker{
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorContainer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

  .color{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background:var(--color-tercero);
    border: none;

    &--a{
        background: linear-gradient(90deg, rgb(95, 0, 185) 50%, rgb(117, 255, 186) 50%)
    }
    &--b{
        background: linear-gradient(90deg, rgb(124, 47, 0) 50%,rgb(87, 216, 255) 50%)
    }
    &--c{
        background: linear-gradient(90deg, rgb(0, 0, 0) 50%,rgb(255, 255, 255) 50%)
    }

    &--active{
        box-shadow: 0 0 0 2px var(--color-tercero);
    }
  
    &:hover, &:focus{
        box-shadow: 0 0 0 2px var(--color-tercero);
    }

    &:active{
        outline: none;
        user-select: none;
        border: none;
    }
}
