$color-fondo: rgb(30, 30, 30);
$color-primero: rgb(95, 0, 185);
$color-segundo: rgb(117, 255, 186);
$color-tercero: darkorange;
$color-cuarto: rgb(255, 255, 255);
$padding-general: 1rem;
$font-primera: 'Roboto', sans-serif;


