$color-fondo: rgb(30, 30, 30);
$color-cero: white;
$color-primero: rgb(95, 0, 185);
$color-segundo: rgb(117, 255, 186);
$color-tercero: darkorange;
$padding-general: 1rem;
$font-primera: 'Roboto', sans-serif;

/* VARIABLES PARA MANIPULAR EN JS */
/* $color-primero: #7C2F00;
$color-segundo: #57d8ff;

$color-primero: #354e5e;
$color-segundo: #ffed4f;


 */


